body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1342px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1342px;
  height:585px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1342px;
  height:585px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:25px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:121px;
  width:490px;
  height:25px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:25px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:162px;
  width:490px;
  height:25px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:25px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:204px;
  width:490px;
  height:25px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:25px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:239px;
  width:490px;
  height:25px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:25px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:408px;
  width:611px;
  height:25px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:25px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:452px;
  width:611px;
  height:25px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:25px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:487px;
  width:843px;
  height:25px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:31px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:162px;
  width:65px;
  height:31px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:203px;
  width:86px;
  height:21px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:234px;
  width:86px;
  height:31px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:39px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:285px;
  width:86px;
  height:39px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:352px;
  width:86px;
  height:31px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:408px;
  width:86px;
  height:31px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:449px;
  width:86px;
  height:21px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:487px;
  width:86px;
  height:31px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:121px;
  width:86px;
  height:21px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:47px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:344px;
  width:925px;
  height:47px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:47px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:287px;
  width:925px;
  height:47px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:86px;
  width:50px;
  height:15px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:86px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:123px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:126px;
  width:100px;
  height:16px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u104_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:126px;
  width:100px;
  height:16px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u105_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:126px;
  width:100px;
  height:16px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u106_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:126px;
  width:100px;
  height:16px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u107_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:126px;
  width:100px;
  height:16px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u108_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:165px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:168px;
  width:100px;
  height:16px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u110_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:168px;
  width:100px;
  height:16px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u111_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:168px;
  width:100px;
  height:16px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u112_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:168px;
  width:100px;
  height:16px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u113_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:168px;
  width:100px;
  height:16px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u114_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:203px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:206px;
  width:100px;
  height:16px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u116_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:206px;
  width:100px;
  height:16px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u117_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:206px;
  width:100px;
  height:16px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u118_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:206px;
  width:100px;
  height:16px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u119_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:206px;
  width:100px;
  height:16px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u120_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:239px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:242px;
  width:100px;
  height:16px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u122_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:242px;
  width:100px;
  height:16px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u123_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:242px;
  width:100px;
  height:16px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u124_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:242px;
  width:100px;
  height:16px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u125_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:242px;
  width:100px;
  height:16px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u126_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
